<template name="carousel">
	<div class="owl-carousel">
	    <div>
	        <img class="item" src="/img/carousel/image-1.jpg" alt="{{_ 'home.carousel_images.alt_text_one'}}">
	        <div class="carousel-caption">
	            <h2 class="">{{_ 'home.carousel_images.title_one'}}</h2>
	        </div>
	    </div>                        
	    <div>
	        <img class="item" src="/img/carousel/image-2.jpg" alt="{{_ 'home.carousel_images.alt_text_two'}}">
	        <div class="carousel-caption">
	            <h2 class="">{{_ 'home.carousel_images.title_two'}}</h2>
	        </div>
	    </div>
	    <div>
	        <img class="item" src="/img/carousel/image-3.jpg" alt="{{_ 'home.carousel_images.alt_text_thre'}}">
	        <div class="carousel-caption">
	            <h2 class="">{{_ 'home.carousel_images.title_three'}}</h2>
	        </div>
	    </div>
	    <div>
	        <img class="item" src="/img/carousel/image-4.jpg" alt="{{_ 'home.carousel_images.alt_text_four'}}">
	        <div class="carousel-caption">
	            <h2>{{_ 'home.carousel_images.title_four'}}</h2>
	        </div>
	    </div>
	    <div>
	        <img class="item" src="/img/carousel/image-5.jpg" alt="{{_ 'home.carousel_images.alt_text_five'}}">
	        <div class="carousel-caption">
	            <h2>{{_ 'home.carousel_images.title_five'}}</h2>
	        </div>
	    </div>
	    <div>
	        <img class="item" src="/img/carousel/image-6.jpg" alt="{{_ 'home.carousel_images.alt_text_six'}}">
	        <div class="carousel-caption">
	            <h2>{{_ 'home.carousel_images.title_six'}}</h2>
	        </div>
	    </div>
	    <div>
	        <img class="item" src="/img/carousel/image-7.jpg" alt="{{_ 'home.carousel_images.alt_text_seven'}}">
	        <div class="carousel-caption">
	            <h2>{{_ 'home.carousel_images.title_seven'}}</h2>
	        </div>
	    </div>
	    <div>
	        <img class="item" src="/img/carousel/image-8.jpg" alt="{{_ 'home.carousel_images.alt_text_eight'}}">
	        <div class="carousel-caption">
	            <h2>{{_ 'home.carousel_images.title_eight'}}</h2>
	        </div>
	    </div>
	    <div>
	        <img class="item" src="/img/carousel/image-9.jpg" alt="{{_ 'home.carousel_images.alt_text_nine'}}">
	        <div class="carousel-caption">
	            <h2>{{_ 'home.carousel_images.title_nine'}}</h2>
	        </div>
	    </div>
	</div>
</template>