<template name="login">
	<form class="form-inline form-login">
		<div class="form-group">
	    	<input class="form-control" name="login-email" type="email" placeholder="Email" data-container="body" data-toggle="popover">
		</div>
		<div class="form-group">
			<input class="form-control" name="login-password" type="Password" placeholder="Password" data-container="body" data-toggle="popover">
		</div>
	  	<input class="btn btn-default" type="submit" value="Login">
	  	<div class="text-right forgot-password">
	  		<p><a href="{{pathFor route='forgotPassword'}}"><small>Forgot Password?</small></a></p>
	  	</div>
	  	

<!--
	  	<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
		    Popover on right
		</button>

		<input type="" name="" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
-->
	</form>
</template>

