<template name="login">
	<form class="form-inline form-login">
		<div class="form-group">
			<label class="sr-only" for="login-email">{{_ 'form.email'}}</label>
	    	<input class="form-control" name="login-email" id="login-email" type="email" placeholder="{{_ 'form.email'}}" data-container="body" data-toggle="popover">
		</div>
		<div class="form-group">
			<label class="sr-only" for="login-password">{{_ 'form.password'}}</label>
			<input class="form-control" name="login-password" id="login-password" type="Password" placeholder="{{_ 'form.password'}}" data-container="body" data-toggle="popover">
		</div>
	  	<input class="btn btn-default" type="submit" value="{{_ 'form.login'}}">
	  	<div class="text-right forgot-password">
	  		<p><a href="{{pathFor route='forgotPassword'}}"><small>{{_ 'form.forgot_password'}}</small></a></p>
	  	</div>
	</form>
</template>