<template name="navbar">
	<div class="container-fluid">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false">
						<span class="sr-only">{{_ 'nav.toggle_nav'}}</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand text-uppercase" href="{{pathFor route='home'}}"><img src="/img/flueint-logo.png" alt="{{_ 'nav.logo_alt'}}"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="mainNav">
					<div class="nav nav-bar navbar-left">
						{{> i18n_dropdown}}
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{{pathFor route="home"}}">{{_ 'nav.home'}}</a></li>
						<li><a href="{{pathFor route="blog"}}">{{_ 'nav.blog'}}</a></li>
						{{#unless currentUser.emails.[0].verified}}

					    {{else}}
						    {{#if isInRole 'student'}}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{_ 'nav.account'}} <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="{{pathFor route="schedule"}}">{{_ 'nav.appointments'}}</a></li>
										<li><a href="{{pathFor route='buyCredits'}}">{{_ 'nav.buy_credits'}}</a></li>
										<li><a href="{{pathFor route="myAccount"}}">{{_ 'nav.account_info'}}</a></li>
									</ul>
								</li>
							{{/if}}
							{{#if isInRole 'teacher'}}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{_ 'nav.management'}} <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="{{pathFor route="teacherStudentRoster"}}">{{_ 'nav.student_roster'}}</a></li>
										<li><a href="{{pathFor route="schedule"}}">{{_ 'nav.appointments'}}</a></li>
										<li><a href="{{pathFor route="myAccount"}}">{{_ 'nav.account_info'}}</a></li>
									</ul>
								</li>
							{{/if}}
							{{#if isInRole 'admin'}}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Management <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="{{pathFor route="blog"}}">{{_ 'nav.blog'}}</a></li>
										<li><a href="{{pathFor route="schedule"}}">{{_ 'nav.appointments'}}</a></li>
										<li><a href="{{pathFor route="listTeachers"}}">{{_ 'nav.teachers'}}</a></li>
										<li><a href="{{pathFor route="listStudents"}}">{{_ 'nav.students'}}</a></li>
										<li><a href="{{pathFor route="myAccount"}}">{{_ 'nav.account_info'}}</a></li>
										<li><a href="{{pathFor route="registerAdmin"}}">{{_ 'nav.register_users'}}</a></li>
									</ul>
								</li>
							{{/if}}
					   {{/unless}}
						<li><a href="{{pathFor route='program'}}">{{_ 'nav.program'}}</a></li>
						<li><a href="{{pathFor route='pricing'}}">{{_ 'nav.pricing'}}</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{_ 'nav.learn_more'}} <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">{{_ 'nav.cirriculum'}}</a></li>
								<li><a href="{{pathFor route='theCompany'}}">{{_ 'nav.the_company'}}</a></li>
							</ul>
						</li>
						<li><a href="{{pathFor route='contactUs'}}">{{_ 'nav.contact_us'}}</a></li>
						{{#if currentUser}}
							<li><a href="#" class="logout-btn">{{_ 'nav.logout'}}</a></li>
						{{else}}
							<li><a href="" data-toggle="modal" data-target=".login-modal">{{_ 'nav.login'}}</a></li>
						{{/if}}
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div class="modal fade login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModal">
			<div id="loginModal" class="modal-dialog modal-sm">
				<div class="modal-content login-segment">
					{{> login}}
				</div>
			</div>
		</div>
	</div>
</template>
