<template name="navigation">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="/img/logo.png"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="mainNav">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{pathFor route="home"}}">Home</a></li>
					{{#unless currentUser.emails.[0].verified}}

				    {{else}} 
					    {{#if isInRole 'student'}}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="{{pathFor route="schedule"}}">Appointments</a></li>
									<li><a href="#">Buy Credits</a></li>
									<li><a href="{{pathFor route="myAccount"}}">Account Information</a></li>
								</ul>
							</li>
						{{/if}}
						{{#if isInRole 'teacher'}}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Management <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="{{pathFor route="teacherStudentRoster"}}">Student Roster</a></li>
									<li><a href="{{pathFor route="schedule"}}">Appointments</a></li>
									<li><a href="{{pathFor route="myAccount"}}">Account Information</a></li>
								</ul>
							</li>
						{{/if}}
						{{#if isInRole 'admin'}}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Management <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="{{pathFor route="listTeachers"}}">Teachers</a></li>
									<li><a href="{{pathFor route="listStudents"}}">Students</a></li>
									<li><a href="{{pathFor route="myAccount"}}">Account Information</a></li>
								</ul>
							</li>
						{{/if}}
				   {{/unless}}					    				
					<li><a href="{{pathFor route='program'}}">Program</a></li>
					<li><a href="{{pathFor route='pricing'}}">Pricing</a></li>					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Learn More <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Cirriculum</a></li>
							<li><a href="{{pathFor route='theCompany'}}">The Company</a></li>
						</ul>
					</li>
					<li><a href="#">Contact Us</a></li>
					{{#if currentUser}}
						<li><a href="#" class="logout-btn">Logout</a></li>
					{{else}}
						<li><a href="" data-toggle="modal" data-target=".login-modal">Login</a></li>
					{{/if}}
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="modal fade login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModal">
		<div id="loginModal" class="modal-dialog modal-sm">
			<div class="modal-content login-segment">
				{{> login}}
			</div>
		</div>
	</div>  
</template>



