<template name="newsLetterSignUp">
	<div class="news-letter-sign-up">
		<h5 class="">Sign Up For News Letter</h5>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="nameNewsLetter" class="sr-only">Name</label>
				<div class="col-sm-offset-4 col-sm-8">
					<input type="text" class="form-control input-sm" id="nameNewsLetter" placeholder="Name">
				</div>
			</div>
			<div class="form-group">
				<label for="emailNewsLetter" class="sr-only">Email</label>
				<div class="col-sm-offset-4 col-sm-8">
					<input type="email" class="form-control input-sm" id="emailNewsLetter" placeholder="Email">
				</div>
			</div>
			<div class="newsletter-btn">
				<button type="submit" class="btn btn-sm btn-success">Get News Letter</button>
			</div>
		</form>
	</div>	
</template>