<template name="register">
    <form class="form-horizontal form-register">
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <input class="form-control" name="register-email" type="email" placeholder="Email" data-container="body" data-toggle="popover">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <input class="form-control" name="register-skypeid" type="text" placeholder="Skype Id" data-container="body" data-toggle="popover">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <input id="register-password" class="form-control" name="register-password" type="password" placeholder="Password" data-container="body" data-toggle="popover">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <input class="form-control" name="register-password-verify" type="password" placeholder="Verify Password" data-container="body" data-toggle="popover">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <select class="form-control required" name="register-timezone" type="text" data-container="body" data-toggle="popover">
                    <option value="" default>Select Your Timezone</option>
                    {{#each timezones}}
                        <option value="{{name}}" data-offset="{{offset}}">
                            ({{offset}}) &ndash; {{name}}
                        </option>
                    {{/each}}
                </select>
            </div>
        </div>
        <input type="hidden" name="account-type" value="student">
        <!--<div class="form-group">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <select class="form-control required" name="account-type" type="text" data-container="body" data-toggle="popover">
                    <option value="" default>Select Type of Account</option>
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                </select>
            </div>
        </div>-->
        <div class="text-center">
            <input class="btn btn-default" type="submit" value="Register">
        </div>
    </form>
</template>

