<template name="register">
    <form class="form-horizontal form-register">
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <label class="sr-only" for="register-email">{{_ 'form.email'}}</label>
                <input class="form-control" name="register-email" id="register-email" type="email" placeholder="{{_ 'form.email'}}" data-container="body" data-toggle="popover">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <label class="sr-only" for="register-skypeid">{{_ 'form.skypeId'}}</label>
                <input class="form-control" name="register-skypeid" id="register-skypeid" type="text" placeholder="{{_ 'form.skypeId'}}" data-container="body" data-toggle="popover">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <label class="sr-only" for="register-password">{{_ 'form.password'}}</label>
                <input id="register-password" class="form-control" name="register-password" type="password" placeholder="{{_ 'form.password'}}" data-container="body" data-toggle="popover">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <label class="sr-only" for="register-password-verify">{{_ 'form.verify_password'}}</label>
                <input class="form-control" name="register-password-verify" id="register-password-verify" type="password" placeholder="{{_ 'form.verify_password'}}" data-container="body" data-toggle="popover">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <label class="sr-only" for="register-timezone">{{_ 'form.timezone'}}</label>
                <select class="form-control required" name="register-timezone" id="register-timezone" type="text" data-container="body" data-toggle="popover">
                    <option value="" default>{{_ 'form.select_timezone'}}</option>
                    {{#each timezones}}
                        <option value="{{name}}" data-offset="{{offset}}">
                            ({{offset}}) &ndash; {{name}}
                        </option>
                    {{/each}}
                </select>
            </div>
        </div>
        <input type="hidden" name="account-type" value="student">
        <!--<div class="form-group">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <select class="form-control required" name="account-type" type="text" data-container="body" data-toggle="popover">
                    <option value="" default>Select Type of Account</option>
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                </select>
            </div>
        </div>-->
        <div class="text-center">
            <input class="btn btn-default" type="submit" value="{{_ 'form.register'}}">
        </div>
    </form>
</template>

