<template name="sitemap">
	<ul class="sitemap nav">
	    <li><a href="{{pathFor route="home"}}">{{_ 'nav.home'}}</a></li>
	    <li><a href="{{pathFor route='program'}}">{{_ 'nav.program'}}</a></li>
	    <li><a href="{{pathFor route='pricing'}}">{{_ 'nav.pricing'}}</a></li>
	    <li><a>{{_ 'nav.learn_more'}}</a></li>
	    <li>
	        <ul>
	            <li><a href="#">{{_ 'nav.cirriculum'}}</a></li>
	            <li><a href="{{pathFor route='theCompany'}}">{{_ 'nav.the_company'}}</a></li>
	        </ul>
	    </li>
	    <li><a href="#">{{_ 'nav.contact_us'}}</a></li>
	</ul>
</template>