<template name="socialMedia">
	<div id="socialMedia2" class="social-media-base-2 animated pulse">
	    <div class="social-media-carousel">                        
	        <div>
	            <img class="item" src="/img/icons/socialmedia/skype.png" alt="{{_ 'footer.alt_text.skype'}}">
	        </div>
	        <div>
	            <img class="item" src="/img/icons/socialmedia/googleplus.png" alt="{{_ 'footer.alt_text.googleplus'}}">
	        </div>
	        <div>
	            <img class="item" src="/img/icons/socialmedia/wechat.png" alt="{{_ 'footer.alt_text.wechat'}}">
	        </div>                            
	        <div>
	            <a href="https://www.facebook.com/JimmyFallon/"><img class="item" src="/img/icons/socialmedia/facebook.png" alt="{{_ 'footer.alt_text.facebook'}}"></a>
	        </div>
	        <div>
	            <img class="item" src="/img/icons/socialmedia/weibo.png" alt="{{_ 'footer.alt_text.weibo'}}">
	        </div>
	        <div>
	            <img class="item" src="/img/icons/socialmedia/kaokao.png" alt="{{_ 'footer.alt_text.kaokao'}}">
	        </div>
	        <div>
	            <img class="item" src="/img/icons/socialmedia/twitter.png" alt="{{_ 'footer.alt_text.twitter'}}">
	        </div>
	        <div>
	            <img class="item" src="/img/icons/socialmedia/instagram.png" alt="{{_ 'footer.alt_text.instagram'}}">
	        </div>                            
	        <div>
	            <img class="item" src="/img/icons/socialmedia/youtube.png" alt="{{_ 'footer.alt_text.youtube'}}">
	        </div>                                 
	    </div>                
	</div>
	<!--
    <div style="display:none;" class="row hidden-xs">
        <div class="col-sm-5 col-sm-offset-2">
            <div id="socialMedia" class="social-media-base animated pulse">
                <div class="social-media-icon position-one"><img src="/img/icons/kakao.png"></div>
                <div class="social-media-icon position-two"><img src="/img/icons/insta.png"></div>
                <div class="social-media-icon position-three"><img src="/img/icons/fb.png"></div>
                <div class="social-media-icon position-four"><img src="/img/icons/weibo.png"></div>
                <div class="social-media-icon position-five"><img src="/img/icons/twitter.png"></div>
                <div class="social-media-icon position-six"><img src="/img/icons/wechat.png"></div>
            </div>
        </div>            
    </div>
    -->
</template>