.fc-event-container {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.fc-toolbar h2 {
	font-size: 3.7rem;
}

.fc-day-grid-event {
	background: #FFF;
	border-color: #777;
}

.fc-content {
	cursor: pointer;

}

.fc-content .row div {
	padding-left: 5px;
	padding-right: 5px;
}

.fc-content h5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.fc-content.filled {
	background: #D9EDF7;
}