.pricing-text, .cat-title {
  text-align: center; }

h1, h2, h3, h4, h5, h6, .nav a, .dropdown a {
  font-family: "Bree Serif", serif; }

p, .form-control, .table {
  font-family: "Source Serif Pro", serif; }

h1, h2, h3, h4, h5, h6, p, .nav a, .dropdown a {
  color: #333; }

section.special .content .text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateZ(0px) translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.loadingdiv span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 50px auto;
  background: #333;
  border-radius: 10px;
  -webkit-animation: loading 0.9s infinite alternate;
  -moz-animation: loading 0.9s infinite alternate;
  box-shadow: 1px 1px 1px #444444; }

button a, button a:hover {
  color: #F7F4E4; }

.btn-default {
  color: #F7F4E4;
  background: rgba(0, 73, 94, 0.8) !important;
  border: 1px solid #00495E; }
  .btn-default:hover, .btn-default:focus {
    background: #00495E !important;
    color: #F7F4E4 !important;
    border: 1px solid #00495E !important; }

.btn-default.delete-post {
  margin-right: 1rem; }

.btn-default.go-back {
  margin-left: 1rem; }

.edit-account {
  background: rgba(0, 73, 94, 0.8) !important; }
  .edit-account a {
    color: #F7F4E4 !important; }

#signUpCarousel {
  padding: 0 !important; }
  #signUpCarousel .row {
    margin-left: 0; }
    #signUpCarousel .row .col-md-7 {
      padding: 0 !important; }
    #signUpCarousel .row .owl-carousel .owl-item, #signUpCarousel .row .owl-carousel .item {
      width: 390px;
      max-height: 200px;
      background: red !important;
      overflow: hidden; }
      @media (min-width: 992px) {
        #signUpCarousel .row .owl-carousel .owl-item, #signUpCarousel .row .owl-carousel .item {
          max-height: 346px;
          background: purple !important; } }
      @media (min-width: 1200px) {
        #signUpCarousel .row .owl-carousel .owl-item, #signUpCarousel .row .owl-carousel .item {
          max-height: 542px;
          background: orange !important; } }
    #signUpCarousel .row .owl-carousel .item {
      width: 100%;
      height: 100%; }
  #signUpCarousel .carousel-segment-logged-in {
    max-height: 83vh; }
    #signUpCarousel .carousel-segment-logged-in .carousel-caption {
      width: 35%;
      margin: auto; }
    #signUpCarousel .carousel-segment-logged-in .item {
      max-height: 83vh; }
  #signUpCarousel .carousel-caption {
    padding-top: 5px;
    padding-bottom: 15px;
    border-radius: 4px;
    background: transparent;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9); }
    @media (min-width: 768px) {
      #signUpCarousel .carousel-caption {
        background: rgba(0, 0, 0, 0.3); } }
    #signUpCarousel .carousel-caption h2 {
      color: #FFF; }
  #signUpCarousel .owl-theme .owl-controls {
    position: absolute;
    bottom: 3vh;
    right: 0;
    visibility: hidden; }
    @media (min-width: 768px) {
      #signUpCarousel .owl-theme .owl-controls {
        visibility: visible; } }
    #signUpCarousel .owl-theme .owl-controls .owl-nav [class*='owl-'] {
      text-transform: capitalize !important;
      display: inline-block !important;
      color: rgba(247, 244, 228, 0.81) !important;
      font-size: 1.4rem !important;
      margin: 5px;
      padding: 4px 12px;
      background: rgba(0, 73, 94, 0.5) !important;
      border-radius: 3px;
      border: 0.5px solid #00495E; }
      #signUpCarousel .owl-theme .owl-controls .owl-nav [class*='owl-']:hover {
        background: #00A2BC !important;
        color: #F7F4E4 !important;
        border: 1px solid #00A2BC !important; }

.exit-landing {
  color: #FFF; }

/* Parallax */
section#promoSection, section#classRoomLocations, section.special {
  padding: 0 0 0 0 !important; }

section.special {
  position: relative;
  display: block;
  width: 100%;
  min-height: 95vh;
  overflow: hidden;
  color: #FFF; }
  section.special .cover {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1; }
    section.special .cover img {
      position: absolute;
      display: block;
      min-width: 100%;
      min-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%); }
  section.special .content {
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 2; }
    section.special .content .promo-title {
      color: #333 !important; }
    section.special .content h2, section.special .content h3, section.special .content h4 {
      color: #FFF !important; }
    section.special .content .text {
      width: 99%;
      text-align: center; }

@media screen and (max-width: 1000px) {
  section .text {
    width: 90%; } }
::-webkit-scrollbar {
  width: 13px;
  /* to adjust width */ }

::-webkit-scrollbar-track {
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px 2px #E0E0E0;
  border: 1px solid #D8D8D8;
  /* color of the track of scroll bar */ }

::-webkit-scrollbar-thumb {
  background: #646464;
  -webkit-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4); }

::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa; }

::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3); }

#loginModal {
  margin-top: 50px; }

.login-segment {
  padding: 1rem;
  text-align: center; }

.forgot-password p {
  margin: 3px 11px -6px 0; }

.modal-sm {
  width: 99%; }

@media (min-width: 992px) {
  .modal-sm {
    width: 570px; } }
.register-segment h3 {
  margin-top: 0px;
  margin-bottom: 2rem; }

.form-control.error {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; }
  .form-control.error:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; }

.popover.alert {
  background: #ffeded;
  padding: 1.4rem; }
  .popover.alert .popover-content {
    display: inline; }
  .popover.alert .arrow:after {
    border-left-color: #ffeded; }

.excerpt-content {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 10.08rem;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1.8rem;
  line-height: 1.4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.sitemap.nav {
  float: left;
  padding-top: 1rem; }
  .sitemap.nav li > a {
    color: #F7F4E4;
    font-size: 1.6rem; }
    .sitemap.nav li > a:hover, .sitemap.nav li > a:active, .sitemap.nav li > a:focus {
      background: #00495E; }
  .sitemap.nav ul {
    list-style: none; }
    .sitemap.nav ul li > a {
      padding: 0 0rem !important; }

@media (min-width: 768px) {
  .sitemap.nav {
    float: right; } }
.sitemap.nav > li > a {
  padding: 0 2.5rem !important; }

/* Footer */
.social-media-base-2 {
  margin: auto;
  width: 30rem;
  height: 18rem;
  background-image: url(/img/icons/smart-phone-landscape.png);
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 768px) {
    .social-media-base-2 {
      margin-left: 5rem;
      position: relative;
      left: -35px; } }
  .social-media-base-2 .social-media-carousel {
    position: absolute;
    top: 2.8rem;
    left: 3.4rem;
    width: 71%; }
    .social-media-base-2 .social-media-carousel .owl-stage {
      height: 12.6rem;
      padding: 3.9rem 0; }
    .social-media-base-2 .social-media-carousel .item {
      position: absolute;
      width: 5rem;
      transition: all .2s ease-in-out; }
      .social-media-base-2 .social-media-carousel .item:hover {
        z-index: 10000;
        transform: scale(2.2); }

/* Footer One 

#socialMedia {
	animation-name: pulse;
	animation-duration: 1s;
}	

.social-media-base {
	width: 16.625rem;
	height: 28.625rem;
	background: {
		image: url(/img/icons/smart-phone-sm.png);
		repeat: no-repeat;
		size: cover;
	}
	img {
		@extend %social-media-img;
	}
	.position-one {
		@include sm-icon-position(-72px, -58px);
	}
	.position-two {
		@include sm-icon-position(-75px, 44px);
		z-index: 1;
	}
	.position-three {
		@include sm-icon-position(-88px, 124px);
	}
	.position-four {
		@include sm-icon-position(118px, -74px);
	}
	.position-five {
		@include sm-icon-position(84px, 86px);
	}
	.position-six {
		@include sm-icon-position(85px, 212px);
	}	
}
*/
.news-letter-sign-up h5 {
  color: #F7F4E4;
  font-size: 1.6rem; }

@media (min-width: 768px) {
  .news-letter-sign-up h5, .news-letter-sign-up .newsletter-btn {
    text-align: right; } }
@media (min-width: 992px) {
  .news-letter-sign-up {
    padding-right: 2rem; } }
.navbar {
  border-radius: 0;
  margin-bottom: 0px; }

.navbar-inverse {
  background-color: #00495E;
  border-color: #00495E; }
  .navbar-inverse .navbar-toggle {
    border-color: #00A2BC; }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
      background-color: #00495E; }
  .navbar-inverse a {
    color: #F7F4E4 !important; }
    .navbar-inverse a:hover {
      color: #00A2BC !important; }
  .navbar-inverse .dropdown a {
    color: #F7F4E4 !important; }
    .navbar-inverse .dropdown a:hover {
      color: #00A2BC !important; }
  .navbar-inverse .tap-i18n-dropdown select {
    width: 75%;
    margin: 1.5rem auto -0.5rem auto; }
    @media (min-width: 768px) {
      .navbar-inverse .tap-i18n-dropdown select {
        margin: .8rem 3rem; } }

.navbar-brand img {
  width: 3.6rem;
  margin-top: -1.1rem;
  padding: 0; }

.dropdown .dropdown-menu {
  background: #00495E;
  left: 0; }
  .dropdown .dropdown-menu li:hover .sub-menu {
    visibility: visible; }
.dropdown:hover .dropdown-menu {
  display: run-in !important; }

@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block; } }
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #00495E; }

.growl-top-right {
  margin: 4% auto;
  left: 0 !important;
  right: 0 !important; }

html,
body {
  height: 100%; }

.row {
  width: 100%;
  margin-left: 0px; }

.main-content section,
.page-content {
  padding: 3rem 0; }

#mainHeader {
  background-color: #00495E; }

/* Footer */
#mainFooter {
  background-color: #00495E; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3.5rem; }

h4 {
  font-size: 3rem; }

p {
  font-size: 1.8rem; }

a {
  font-size: 1.85rem; }

.navbar-inverse a, .navbar-inverse .dropdown a {
  font-size: 1em; }

.navbar-inverse .dropdown a:hover, a:hover {
  text-decoration: none; }

.form-control {
  font-size: 1.6rem; }

.table {
  font-size: 1.2em; }

.exit-landing {
  font-family: "Bree Serif", serif;
  font-size: 1.8rem;
  cursor: pointer; }

button, input {
  font-family: "Bree Serif", serif;
  font-size: 1.2em !important;
  letter-spacing: 0.06em !important; }

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0px rgba(102, 175, 233, 0.6); }

.alert {
  padding: 2rem;
  margin-bottom: 0px; }

#signUpCarousel {
  background: #C2C247; }

.register-segment {
  padding: 8vh 0; }

section > .container > .row > h3 {
  padding-bottom: 1rem; }

.flueint {
  padding: 1rem !important;
  margin: 0 !important; }

.alert.login-alert {
  padding: 1rem;
  margin: 0 0 1rem 0; }

.login-page-form {
  padding: 2rem;
  border: 1px solid #CCCCCC;
  border-radius: .5rem; }
  .login-page-form .form-title h3 {
    margin-top: -1rem;
    padding-bottom: 1rem; }
  .login-page-form .login-btn {
    width: 100%; }

.sign-up-div {
  padding: 1rem; }
  .sign-up-div a {
    font-size: 100%; }

.register-page-form {
  padding: 2rem;
  border: 1px solid #CCCCCC;
  border-radius: .5rem; }
  .register-page-form .form-title h3 {
    margin-top: -1rem;
    padding-bottom: 1rem; }
  .register-page-form .register-btn {
    width: 100%; }

.btn-change-login-info {
  float: right; }

.pricing-text {
  padding-bottom: 2rem; }
  .pricing-text .lead {
    font-size: 3.5rem;
    font-weight: bold; }

.panel-footer {
  background-color: rgba(0, 73, 94, 0.3); }

.cat-title {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.panel-primary {
  border-color: #00495E; }
  .panel-primary h3 {
    font-size: 2rem; }
  .panel-primary .panel-heading {
    border-color: #00495E;
    background-color: #00495E; }

.counter-padding-row {
  margin-left: -15px; }

#contactMessage {
  height: 35vh; }

.fc-event-container {
  user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none; }

.credit-warning {
  color: #da5347; }

.fc-toolbar h2 {
  font-size: 3.7rem; }

.fc-day-grid-event {
  background: #FFF;
  border-color: #777; }

.fc-today-button {
  text-transform: capitalize; }

td.fc-today {
  background-color: rgba(92, 184, 92, 0.15) !important;
  font-weight: bolder; }

.fc-content {
  cursor: pointer; }
  .fc-content h5 {
    margin-top: 5px;
    margin-bottom: 5px; }
  .fc-content .row div {
    padding-left: 5px;
    padding-right: 5px; }

.fc-content.filled {
  background: #D9EDF7; }

.blog-preview a {
  font-size: 1.8rem; }
.blog-preview .blog-preview-content {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 7.02rem;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1.8rem;
  line-height: 1.3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

#blogContent {
  resize: none; }

p.blog-content {
  white-space: pre-wrap; }

.page-not-found {
  text-align: center;
  padding: 12rem 0; }
  .page-not-found .svg-error svg {
    height: 13rem;
    width: 13rem; }
    .page-not-found .svg-error svg #Layer_1 .circle {
      fill: #00A2BC; }
    .page-not-found .svg-error svg #Layer_1 .triangle {
      fill: #00495E; }
    .page-not-found .svg-error svg #Layer_1 .exclamation {
      fill: #FF7A00; }
  .page-not-found .hr {
    width: 34%;
    margin: auto;
    padding: .5rem 0; }
  .page-not-found h3 {
    margin: 0; }
    .page-not-found h3 a {
      font-size: 1em; }

.loading-page {
  text-align: center;
  padding: 12rem 0; }
  .loading-page .loading-title {
    margin-bottom: -4rem; }
    @media (min-width: 768px) {
      .loading-page .loading-title {
        text-align: right;
        margin-right: -1.1rem; } }
  .loading-page .loading-dots {
    min-height: 21vh; }
    @media (min-width: 768px) {
      .loading-page .loading-dots {
        text-align: left;
        margin-left: -1.1rem; } }

.loadingdiv .row {
  position: relative;
  top: 50%;
  transform: translateY(22%); }
.loadingdiv span:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  background: #00495E; }
.loadingdiv span:nth-of-type(3) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  background: #00A2BC; }
.loadingdiv span:nth-of-type(4) {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  background: #C2C247; }
.loadingdiv span:nth-of-type(5) {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  background: #F7F4E4; }

@-webkit-keyframes loading {
  0% {
    width: 10px;
    height: 10px;
    -webkit-transform: translateZ(0); }
  100% {
    width: 24px;
    height: 24px;
    -webkit-transform: translateZ(-21px); } }
@-moz-keyframes loading {
  0% {
    width: 10px;
    height: 10px;
    -moz-transform: translateZ(0); }
  100% {
    width: 24px;
    height: 24px;
    -moz-transform: translateZ(-21px); } }
.forgot-password-page {
  padding: 12rem 0; }
  .forgot-password-page h1 {
    margin-left: -.7rem;
    padding-bottom: 2rem; }
  .forgot-password-page .input-lg {
    margin-bottom: 1rem; }
  .forgot-password-page .text-right {
    text-align: center; }
    .forgot-password-page .text-right .btn-lg {
      font-size: 132% !important; }
    @media (min-width: 768px) {
      .forgot-password-page .text-right {
        text-align: right !important; } }

.secondary-layout {
  padding: 12rem 0; }
  .secondary-layout h1 {
    margin-left: -.7rem;
    padding-bottom: 2rem; }
  .secondary-layout .text-right {
    text-align: center; }
    .secondary-layout .text-right .btn-lg {
      margin-top: 1rem;
      font-size: 132% !important; }
    @media (min-width: 768px) {
      .secondary-layout .text-right {
        text-align: right !important; } }

.change-teacher {
  display: inline-block;
  position: relative;
  float: right;
  top: 50%;
  transform: translateY(-28%); }
  .change-teacher a {
    font-size: 12px; }

#blogContent {
  height: 35vh; }

.multi-lang-modal {
  padding: 2rem; }
  .multi-lang-modal .add-lang-btn {
    margin-top: 1rem;
    float: right; }
    @media (min-width: 768px) {
      .multi-lang-modal .add-lang-btn {
        position: fixed;
        bottom: 2rem;
        right: 2rem; } }

#langOfPost {
  margin-left: -15px;
  width: 103%; }

.modal-footer {
  text-align: center; }

@media (min-width: 768px) {
  .modal-footer {
    text-align: right; } }
.buy-credit-section {
  min-height: 62vh; }
  .buy-credit-section .buy-credit-title {
    padding-top: 1rem; }
  .buy-credit-section .buy-credit-panel .buy-credit-tag {
    margin: 0;
    padding: 3rem 0;
    transition: all 0.5s ease-in-out; }
    .buy-credit-section .buy-credit-panel .buy-credit-tag:hover {
      transform: scale(1.4); }
  .buy-credit-section .alert-processing {
    margin: 4vh 0; }
  .buy-credit-section .processing {
    padding: 0 6rem; }
  .buy-credit-section .glyphicon-barcode {
    top: 4px;
    left: 2px; }
  .buy-credit-section .modal-content {
    padding: 1.5rem; }
    .buy-credit-section .modal-content .coupon-submit {
      text-align: center; }
      .buy-credit-section .modal-content .coupon-submit .form-group {
        width: 55%; }
        .buy-credit-section .modal-content .coupon-submit .form-group .input-lg {
          width: 100%; }
  .buy-credit-section .coupon-purchase .modal-dialog {
    top: 20vh; }

/*# sourceMappingURL=main.css.map */
