/*
font-family: 'Bree Serif', serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Source Serif Pro', serif;

Dark blue: #00495E
Light Blue: #00A2BC
white: #F7F4E4
light green: #C2C247
dark green: #82820C

Sections white / offwhite

white: #FFF
offwhite: #F8FAFB

*/
.pricing-text, .cat-title {
  text-align: center; }

h1, h2, h3, h4, h5, h6, .nav a, .dropdown a {
  font-family: "Bree Serif", serif; }

p, .form-control, .table {
  font-family: "Source Serif Pro", serif; }

h1, h2, h3, h4, h5, h6, p, .nav a, .dropdown a {
  color: #333; }

.social-media-base img {
  width: 100%;
  position: absolute; }

section.special .content .text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateZ(0px) translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

button a, button a:hover {
  color: #F7F4E4; }

.btn-default {
  color: #F7F4E4;
  background: rgba(0, 73, 94, 0.8) !important;
  border: 1px solid #00495E; }
  .btn-default:hover, .btn-default:focus {
    background: #00495E !important;
    color: #F7F4E4 !important;
    border: 1px solid #00495E !important; }

.edit-account {
  background: rgba(0, 73, 94, 0.8) !important; }
  .edit-account a {
    color: #F7F4E4 !important; }

/* Carousel */
#signUpCarousel {
  padding: 0; }

#signUpCarousel .row {
  margin-left: -15px; }

.carousel-caption {
  padding-top: 5px;
  padding-bottom: 15px;
  border-radius: 4px;
  background: transparent;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9); }
  .carousel-caption h2 {
    color: #FFF; }

.owl-controls {
  position: absolute;
  bottom: 10px;
  left: 473.4685px; }
  .owl-controls .owl-prev, .owl-controls .owl-next {
    text-transform: capitalize;
    display: inline-block;
    color: rgba(247, 244, 228, 0.81);
    font-size: 1rem;
    margin: 5px;
    padding: 4px 12px;
    background: rgba(0, 73, 94, 0.5);
    border-radius: 3px;
    border: 0.5px solid #00495E; }
    .owl-controls .owl-prev:hover, .owl-controls .owl-next:hover {
      background: #00A2BC;
      color: #F7F4E4;
      border: 1px solid #00A2BC; }

.owl-carousel .owl-item, .owl-carousel .item {
  max-height: 200px;
  background: red !important;
  overflow: hidden; }
.owl-carousel .item {
  width: 100%;
  height: 100%; }

@media (min-width: 768px) {
  .owl-carousel .owl-item, .owl-carousel .item {
    background: green !important; }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.3); } }
@media (min-width: 992px) {
  .owl-carousel .owl-item, .owl-carousel .item {
    max-height: 346px;
    background: purple !important; } }
@media (min-width: 1200px) {
  .owl-carousel .owl-item, .owl-carousel .item {
    max-height: 542px;
    background: orange !important; }

  .loc-text {
    padding: 2rem; } }
.exit-landing {
  color: #FFF; }

/* Parallax */
section#promoSection, section#classRoomLocations, section.special {
  padding: 0 0 0 0 !important; }

section.special {
  position: relative;
  display: block;
  width: 100%;
  min-height: 95vh;
  overflow: hidden;
  color: #FFF; }
  section.special .cover {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1; }
    section.special .cover img {
      position: absolute;
      display: block;
      min-width: 100%;
      min-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%); }
  section.special .content {
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 2; }
    section.special .content .promo-title {
      color: #333 !important; }
    section.special .content h2, section.special .content h3, section.special .content h4 {
      color: #FFF !important; }
    section.special .content .text {
      width: 99%;
      text-align: center; }

@media screen and (max-width: 1000px) {
  section .text {
    width: 90%; } }
::-webkit-scrollbar {
  width: 13px;
  /* to adjust width */ }

::-webkit-scrollbar-track {
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px 2px #E0E0E0;
  border: 1px solid #D8D8D8;
  /* color of the track of scroll bar */ }

::-webkit-scrollbar-thumb {
  background: #646464;
  -webkit-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4); }

::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa; }

::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3); }

.login-segment {
  padding: 1rem;
  text-align: center; }

.modal-sm {
  width: 99%; }

@media (min-width: 992px) {
  .modal-sm {
    width: 570px; } }
.register-segment h3 {
  margin-top: 0px;
  margin-bottom: 2rem; }

html,
body {
  height: 100%; }

.row {
  width: 100%;
  margin-left: 0px; }

.main-content section,
.page-content {
  padding: 3rem 0; }

#mainHeader {
  background-color: #00495E; }

/* Footer */
#mainFooter {
  background-color: #00495E;
  padding-top: 4rem;
  min-height: 40.75rem; }
  #mainFooter #socialMedia {
    animation-name: pulse;
    animation-duration: 1s; }

.social-media-base {
  width: 16.625rem;
  height: 28.625rem;
  background-image: url(/img/icons/smart-phone-sm.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .social-media-base .position-one {
    left: -72px;
    top: -58px;
    width: 154px;
    position: absolute;
    cursor: pointer;
    transition: all .2s ease-in-out; }
    .social-media-base .position-one:hover {
      transform: scale(1.4); }
  .social-media-base .position-two {
    left: -75px;
    top: 44px;
    width: 154px;
    position: absolute;
    cursor: pointer;
    transition: all .2s ease-in-out;
    z-index: 1; }
    .social-media-base .position-two:hover {
      transform: scale(1.4); }
  .social-media-base .position-three {
    left: -88px;
    top: 124px;
    width: 154px;
    position: absolute;
    cursor: pointer;
    transition: all .2s ease-in-out; }
    .social-media-base .position-three:hover {
      transform: scale(1.4); }
  .social-media-base .position-four {
    left: 118px;
    top: -74px;
    width: 154px;
    position: absolute;
    cursor: pointer;
    transition: all .2s ease-in-out; }
    .social-media-base .position-four:hover {
      transform: scale(1.4); }
  .social-media-base .position-five {
    left: 84px;
    top: 86px;
    width: 154px;
    position: absolute;
    cursor: pointer;
    transition: all .2s ease-in-out; }
    .social-media-base .position-five:hover {
      transform: scale(1.4); }
  .social-media-base .position-six {
    left: 85px;
    top: 212px;
    width: 154px;
    position: absolute;
    cursor: pointer;
    transition: all .2s ease-in-out; }
    .social-media-base .position-six:hover {
      transform: scale(1.4); }

.navbar {
  border-radius: 0;
  margin-bottom: 0px;
  box-shadow: 2px 1px 3px black; }

.navbar-inverse {
  background-color: #00495E;
  border-color: #00495E; }
  .navbar-inverse a {
    color: #F7F4E4 !important; }
    .navbar-inverse a:hover {
      color: #00A2BC !important; }
  .navbar-inverse .dropdown a {
    color: #F7F4E4 !important; }
    .navbar-inverse .dropdown a:hover {
      color: #00A2BC !important; }

.navbar-brand img {
  width: 6.6875rem;
  margin-top: -2rem;
  padding: 0; }

.dropdown .dropdown-menu {
  background: #00495E;
  left: 0; }
  .dropdown .dropdown-menu li:hover .sub-menu {
    visibility: visible; }
.dropdown:hover .dropdown-menu {
  display: block; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #00495E; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3.5rem; }

h4 {
  font-size: 3rem; }

p {
  font-size: 1.8rem; }

a {
  font-size: 1.85rem; }

.navbar-inverse a, .navbar-inverse .dropdown a {
  font-size: 1em; }

.navbar-inverse .dropdown a:hover, a:hover {
  text-decoration: none; }

.form-control {
  font-size: 1.6rem; }

.table {
  font-size: 1.2em; }

.exit-landing {
  font-family: "Bree Serif", serif;
  font-size: 1.8rem;
  cursor: pointer; }

button, input {
  font-family: "Bree Serif", serif;
  font-size: 1.2em !important;
  letter-spacing: 0.06em !important; }

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0px rgba(102, 175, 233, 0.6); }

.alert {
  padding: 2rem;
  margin-bottom: 0px; }

#signUpCarousel {
  background: #C2C247; }

.register-segment {
  padding: 3rem 0; }

section > .container > .row > h3 {
  padding-bottom: 1rem; }

.btn-change-login-info {
  float: right; }

.pricing-text {
  padding-bottom: 2rem; }
  .pricing-text .lead {
    font-size: 3.5rem;
    font-weight: bold; }

.panel-footer {
  background-color: rgba(0, 73, 94, 0.3); }

.cat-title {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.panel-primary {
  border-color: #00495E; }
  .panel-primary h3 {
    font-size: 2rem; }
  .panel-primary .panel-heading {
    border-color: #00495E;
    background-color: #00495E; }

.fc-event-container {
  user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none; }

.fc-toolbar h2 {
  font-size: 3.7rem; }

.fc-day-grid-event {
  background: #FFF;
  border-color: #777; }

.fc-content {
  cursor: pointer; }
  .fc-content h5 {
    margin-top: 5px;
    margin-bottom: 5px; }
  .fc-content .row div {
    padding-left: 5px;
    padding-right: 5px; }

.fc-content.filled {
  background: #D9EDF7; }

.change-teacher {
  display: inline-block;
  position: relative;
  float: right;
  top: 50%;
  transform: translateY(-28%); }
  .change-teacher a {
    font-size: 12px; }

.modal-footer {
  text-align: center; }

@media (min-width: 768px) {
  .modal-footer {
    text-align: right; } }

/*# sourceMappingURL=main.css.map */
