section#promoSection, section#classRoomLocations, section.special {
    padding: 0 0 0 0!important;
}

section.special {
    position: relative;
    display: block;
    width: 100%;
    min-height: 95vh;
    overflow: hidden;
    color: #FFF;
}

section .cover {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

section .cover img {
    position: absolute;
    display: block;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

section .content {
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.promo-title {
    color: #333!important;
}

section.special h2, section.special h3, section.special h4 { 
    color: #FFF!important;
}

.centralize {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateZ(0px) translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

section .text {
    width: 99%;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    section .text {
        width: 90%;
    }
}

::-webkit-scrollbar {
    width: 13px; /* to adjust width */
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
    -webkit-box-shadow: inset 1px 1px 2px #E0E0E0;
    border: 1px solid #D8D8D8; /* color of the track of scroll bar */
}

::-webkit-scrollbar-thumb {
    background: #646464;
    -webkit-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);
}

::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}

::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}