<template name="carousel">
	<div class="owl-carousel">
	    <div>
	        <img class="item" src="/img/carousel/image-1.jpg">
	        <div class="carousel-caption">
	            <h2 class="">Explore New Places</h2>
	        </div>
	    </div>                        
	    <div>
	        <img class="item" src="/img/carousel/image-2.jpg">
	        <div class="carousel-caption">
	            <h2 class="">Work Hard, Play Hard</h2>
	        </div>
	    </div>
	    <div>
	        <img class="item" src="/img/carousel/image-3.jpg">
	        <div class="carousel-caption">
	            <h2 class="">Experience HUGE Success</h2>
	        </div>
	    </div>
	    <div>
	        <img class="item" src="/img/carousel/image-4.jpg">
	        <div class="carousel-caption">
	            <h2>Celebrate New Friendships</h2>
	        </div>
	    </div>
	    <div>
	        <img class="item" src="/img/carousel/image-5.jpg">
	        <div class="carousel-caption">
	            <h2>Live your Dream</h2>
	        </div>
	    </div>
	    <div>
	        <img class="item" src="/img/carousel/image-6.jpg">
	        <div class="carousel-caption">
	            <h2>Gain Confidence, Try New Things</h2>
	        </div>
	    </div>
	    <div>
	        <img class="item" src="/img/carousel/image-7.jpg">
	        <div class="carousel-caption">
	            <h2>Challenge Yourself</h2>
	        </div>
	    </div>
	    <div>
	        <img class="item" src="/img/carousel/image-8.jpg">
	        <div class="carousel-caption">
	            <h2>Travel with Confidence</h2>
	        </div>
	    </div>
	    <div>
	        <img class="item" src="/img/carousel/image-9.jpg">
	        <div class="carousel-caption">
	            <h2>Be Yourself</h2>
	        </div>
	    </div>
	</div>
</template>