h1, h2, h3, h4, h5, h6 {
	@extend %header-font;
}

h1 {
	font-size: 4.6rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.125rem;
	font-weight: 600;
}

h4 {
	font-size: 1.98rem;
	font-weight: 600;
}

h5 {
	font-size: 1.825rem;
}

h6 {
	font-size: 1.4rem;
}

p {
	@extend %paragraph-font;
	font: {
		size: 1.6rem;
	}
}

a {
	font: {
		size: 1.7rem;
	}
}

.navbar-inverse, .navbar-inverse .dropdown {
	a {
		font: {
			size: 1.4rem;
		}
	}
}

.navbar-inverse .dropdown a:hover, a:hover {
	text-decoration: none;
}

.form-control {
	@extend %paragraph-font;
	font: {
		size: 1.6rem;
	}
}

.table {
	@extend %paragraph-font;
	font: {
		size: 1.6rem;
	}
}

.nav, .dropdown {
	a {
		@extend %header-font;
	}
}

.exit-landing {
	font: {
		family: $sans-serif;
		size: 1.9rem;
	}
	cursor: pointer;
}

button, input {
	font: {
		family: $sans-serif;
		size: 1.7em;
	}
	letter-spacing: .06em!important;
}
