.navbar {
	border-radius: 0;
	margin-bottom: 0px;
}

.navbar-inverse {
	background-color: $blue;
	border-color: $blue;
	.navbar-toggle {
		border-color: $light-blue;
		&:hover, &:focus {
			background-color: $blue;
		}
	}
	a {
		color: $off-white!important;
		&:hover {
			color: $light-blue!important;
		}
	}
	.dropdown {
		a {
			color: $off-white!important;
			&:hover {
				color: $light-blue!important;
			}
		}
	}	
}

.navbar-brand img {
    width: 3.6rem;
    margin-top: -1.1rem;
    padding: 0;
}

.dropdown {
	.dropdown-menu {
		background: #00495E;
		left: 0;
		li {
			&:hover {
				.sub-menu {
					visibility: visible;
				}
			}
		}
	}
	&:hover {
		.dropdown-menu {
			display:run-in!important;
		}
	}
}

@media (min-width: $screen-sm) { 
	.dropdown:hover .dropdown-menu {
		display: block;
	}
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
	background: #00495E;
}
