.news-letter-sign-up {
	h5 {
		color: $off-white;
		font-size: 1.6rem;
	}
}

@media (min-width: $screen-sm) { 
	.news-letter-sign-up {
		h5, .newsletter-btn {
			text-align: right;
		}
	}
}

@media (min-width: $screen-md) { 
	.news-letter-sign-up {
		padding-right: 2rem;
	}
}