// Text Align 

%text-center {
	text-align: center;
}

// Typography

%header-font {
	font: {
		family: $bree-serif;
	}
}

%paragraph-font {
	font: {
		family: $source-serif-pro;
	}
}

// Color 

%default-text-color {
	color: $black-text;
}

// Social Media

%social-media-icon {

}

%social-media-img {
	width: 100%;
	position: absolute;
}

// Parallax Section

%centralize {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateZ(0px) translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

// Loading

%loading-animation {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: $black-text;
    border-radius: 10px;
    -webkit-animation: loading 0.9s infinite alternate;
    -moz-animation: loading 0.9s infinite alternate;
    box-shadow:1px 1px 1px #444444;
}





