// Media Queries 
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Typography 
$bree-serif: 'Bree Serif', serif;
$source-serif-pro: 'Source Serif Pro', serif;

// Color 
$black-text: #333;
$off-white: #F7F4E4;
$blue: #00495E;
$light-blue: #00A2BC;
$green: #C2C247;
$white: #FFF;

// Images
$smart-phone-sm-png: '/img/icons/smart-phone-sm.png';


/*
font-family: 'Bree Serif', serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Source Serif Pro', serif;

Dark blue: #00495E
Light Blue: #00A2BC
white: #F7F4E4
light green: #C2C247
dark green: #82820C

Sections white / offwhite

white: #FFF
offwhite: #F8FAFB

*/