// Media Queries
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Typography

//@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
//$sans-humanist: 'Alegreya Sans SC', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto');
$sans-serif: 'Roboto', sans-serif;

$bree-serif: 'Bree Serif', serif;
$source-serif-pro: 'Source Serif Pro', serif;

// Color
$black-text: #333;
$off-white: #F7F4E4;
$blue: #00495E;
$light-blue: #00A2BC;
$green: #C2C247;
$white: #FFF;

// Images
$smart-phone-sm-png: '/img/icons/smart-phone-sm.png';
$smart-phone-landscape:'/img/icons/smart-phone-landscape.png';

$carousel-height: 83vh;
