
<template name="mainFooter">
	<div class="row">
		<section id="mainFooter">
            <div class="row hidden-xs">
                <div class="col-sm-10 col-sm-offset-2">
                    <div id="socialMedia" class="social-media-base animated pulse">
                        <div class="social-media-icon position-one"><img src="/img/icons/kakao.png"></div>
                        <div class="social-media-icon position-two"><img src="/img/icons/insta.png"></div>
                        <div class="social-media-icon position-three"><img src="/img/icons/fb.png"></div>
                        <div class="social-media-icon position-four"><img src="/img/icons/weibo.png"></div>
                        <div class="social-media-icon position-five"><img src="/img/icons/twitter.png"></div>
                        <div class="social-media-icon position-six"><img src="/img/icons/wechat.png"></div>
                    </div>
                </div>
            </div>
        </section>			
	</div>
</template>
