<template name="mainFooter">
	<section id="mainFooter">
        <div class="container-fluid">
            <div class="row">                
                <div class="hidden-xs col-xs-12 col-sm-3 col-sm-push-5 col-md-3 col-md-push-6">
                    {{> sitemap}}
                </div>
                
                <div class="col-xs-12 col-sm-3 col-sm-push-5 col-md-3 col-md-push-6">
                    {{> newsLetterSignUp}}
                </div>
                
                <div class="col-xs-12 col-sm-offset-3 col-sm-3 col-sm-pull-9 col-md-3">
                    {{> socialMedia}}
                </div>
            </div>
        </div>
    </section>			
</template>