.forgot-password-page {
	padding: 12rem 0;
	h1 {
		margin-left: -.7rem;
		padding-bottom: 2rem;
	}
	.input-lg {
		margin-bottom: 1rem;
	}
	.text-right {
		.btn-lg {
			font-size: 132%!important;
		}
		text-align: center;
		@media (min-width: $screen-sm) {
			text-align: right!important;
		}
	}
	
}