// Unverified Account Alert 

.alert {
	padding: 2rem;
	margin-bottom: 0px;
}

// Register & Carousel

#signUpCarousel {
	background: $green;
}

.register-segment {
	padding: 3rem 0;
}

section>.container>.row>h3 {
	padding-bottom: 1rem;
}