.page-not-found {
	text-align: center;
	padding: 12rem 0;
	.svg-error svg {
		height: 13rem;
		width: 13rem;
		#Layer_1 {
			.circle {
				fill: $light-blue;
			}
			.triangle {
				fill: $blue;
			}
			.exclamation {
				fill: #FF7A00;
			}
		}
	}
	.hr {
		width: 34%;
		margin: auto;
		padding: .5rem 0;
	}
	h3 {
		margin: 0;
		a {
			font-size: 1em;
		}
	}
}