.fc-event-container {
	@include drag-by-user(none);
	@include select-by-user(none);
}

.fc-left h2 {
	font-size: 2.7rem!important;
}

.fc {
	font-size: 1.4rem!important;
}

.credit-warning {
	color: #da5347;
}

.fc-toolbar h2 {
	font-size: 3.7rem;
}

.fc-day-grid-event {
	background: #FFF;
	border-color: #777;
}

.fc-today-button {
	text-transform: capitalize;
}

th.fc-today, td.fc-today {
	background-color: rgba(92, 184, 92, 0.15)!important;
}

td.fc-state-highlight {
	background: #abdbea!important;
	font-weight: bolder;
}

thead tr td.fc-state-highlight, th.fc-state-highlight {
	background: #5ab1cc!important;
	font-weight: bolder;
}

.fc-day-grid .fc-row {
    height: 2em;
}

.fc-content {
	cursor: pointer;
	h5 {
		margin: {
			top: 5px;
			bottom: 5px;
		}
	}
	.row {
		div {
			padding: {
				left: 5px;
				right: 5px;
			}
		}
	}
}

.next-appt {
	text-decoration: underline;
}

.fc-content.filled, .appointment.Filled {
	background: #D9EDF7;
}

.fc-button {
	text-transform: capitalize;
}

.fc-day {
	cursor: pointer;
}

.appointment-count {
	font-size: 1.15rem;
}

.appointment-container {
	margin-top: 2rem;
	.section-container {
		margin: 1.5rem 0;
		padding: 1rem;
		border: 1px solid #ccc;
		@media(min-width: $screen-md) {
			margin: 0;
			border: 0;
		}
		h3 {
			font-weight: 600;
		}
		.appointment {
			cursor: pointer;
			margin: .5rem auto;
			padding: 0.2rem;
			border: 1px solid #ccc;
			border-radius: 0.1rem;
			width: 82%;
			@media(min-width: $screen-sm) {
				width: 55%;
			}
			@media(min-width: $screen-md) {
				width: 82%;
			}
			p {
				margin: 0 1rem;
			}
		}
	}

}



.flex {
	height: auto;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: stretch;
	margin: 1rem 0;
	@media (min-width: $screen-md) {
		height: 199px;
		margin: 0;
	}
}
