/* CSS declarations go here */
html,
body {
	height: 100%;
}

.main-content section, .page-content {
	padding: 3rem 0;
}

.row {
	width: 100%;
	margin-left: 0px;
}

/* Sign Up Carousel Section */

#signUpCarousel {
	background: #C2C247;
}

.register-segment {
	padding: 3rem 0;
}

section>.container>.row>h3 {
	padding-bottom: 1rem;
}